.contentt {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        margin-bottom: 150px;
    }

    .login {
        width: 300px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin: auto;
    }
    .login form{
        margin-left: -100px;
    }

    .login h1 {
        text-align: center;
        margin-bottom: 20px;
        margin-left: -70px;
    }

    .login p {
        margin-bottom: 10px;
    }

    .login input[type="text"],
    .login input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: transparent;
        outline: none;
        
    }

    .login input[type="text"]:focus,
    .login input[type="password"]:focus {
        border-color: #007bff;
    }

    .login .btn {
        display: flex;
        justify-content: space-between;
    }

    .login .btn button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #ff0000;
        color: #fff;
        cursor: pointer;
        
    }

    .login .btn a {
        margin-top: 12px;
        margin-left: 10px;
        text-decoration: none;
        color: #ff0000;
    }

    .banner {
        flex: 1;
        text-align: center;
    }

    .banner img {
        max-width: 100%;
        height: auto;
    }